# Environment variables
.env
azure-functions/local.settings.json

# Local simulation databases
local_logs.json
local_incidents.json
local_warning_queue.json

# Python caching
__pycache__/
*.pyc
.pytest_cache/

# Streamlit temporary files
.streamlit/

# Terraform Files
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
